
/* 

comment. 

*/

a:hover{
	color: red;
}

a:link{
	text-decoration: none;
}

.first_ol {
	list-style-type: square;	
	/*list-style-image: url("my_image.png");*/
}

p {
	/*visibility: hidden;*/
	display: none;
	/*display: inline;*/
	border: 5px solid green;
	background-image: url("my_image.png");
	background-attachment: fixed;
	/* This is a comment. */
	/*background-color: red;*/
	font-family: Arial;


	padding: 50px;
	padding-left: 100;
	margin: 50px;

	font-weight: bold;
	font-style: italic;
	/*font-variant: small-caps;*/
	/*text-align: center;*/

	vertical-align: middle;

	text-indent: 60px;

	text-transform: uppercase;

	letter-spacing: normal;
}

/* Type Selector */
h1 {
	text-shadow: 5px 5px 4px grey;
}

/* ID Selector */
#second_paragrah {
	color: blue;
	background-color: green;
}

/* Class Selector */
.third {
	text-decoration: underline;	
}

#intro .first span{
	color: white;
	background-color: green;
}












